@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif; }

.Body {
  background-color: #fff;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  font-size: calc(10px + 2vmin); }

/*.body__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}*/
.body__text-container {
  grid-row: 1;
  grid-column: 1;
  padding: 10px; }

.body__link-text {
  color: #FF1DDD;
  font-size: 30px; }
  .body__link-text h3 {
    display: inline; }

.body__image-container {
  padding: 0;
  grid-row: 1;
  grid-column: 2;
  background-image: url(../../../assets/imgs/dish1.png);
  background-size: cover;
  background-position: center; }

@media screen and (max-width: 700px) {
  .body__text-container .body__text-main {
    font-size: 2rem; }
  .body__text-container .body__link-text {
    font-size: 1.8rem; } }

@media screen and (max-width: 630px) {
  .body__text-container .body__text-main {
    font-size: 1.8rem; }
  .body__text-container .body__link-text {
    font-size: 1.5rem; } }

@media screen and (max-width: 500px) {
  .body__text-container .body__text-main {
    font-size: 1.6rem; }
  .body__text-container .body__link-text {
    font-size: 1.5rem; } }

@media screen and (max-width: 450px) {
  .Body {
    grid-template-columns: 2fr 1fr !important; }
  .body__text-container .body__text-main {
    font-size: 2rem; }
  .body__text-container .body__link-text {
    font-size: 1.9rem; } }
