$primary-text-color: black;
$highlight-color: #461A5D;
$selection-color: #FF1DDD;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.textfield__text-subtitle {
    color: $highlight-color;
}

.textfield__text-main {
    color: $primary-text-color;
}

.textfield__text-highlight {
    color: $highlight-color;
}

.textfield__link-text {
    color: $selection-color;
    font-size: 30px;

    h3 {
        display: inline;
    }
}