@font-face {
    font-family: 'BodoniFLF';
    src: url('../../../../assets/fonts/BodoniFLF-BoldItalic.woff2') format('woff2'),
        url('../../../../assets/fonts/BodoniFLF-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.HeaderView {
    display: flex;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    width: 50%;
    background-color: white;
    height: 100%;
    padding: 10px;
}

.header__text-title {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
}

.header__text-subtitle {
    font-family: 'BodoniFLF';
    font-style: italic;
    color: #FFB1F3;
    font-size: 6.9rem;
    line-height: 6.1rem;
    font-weight: bold;
}